* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    transition: 0.7s;
}

body {
    background-color: #1F2E35;   
    font-family: 'Poppins', sans-serif;
}

.header__container {
    padding: 17px 0 12px 32px;
    width: 100%;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}   

.header__logo__container{
    width: 177px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

.header__logo__text {
    font-weight: 700;
    color: white;
    font-size: 30px;
}

.header__logo__text.active {
    color: #1F2E35;
}

.header__nav, .header__button__container, .color__switch {
    position: relative; 
    top: -300px;
    margin-bottom: -130px;
    opacity: 0;
    transition: all ease-in-out 1s;
    transform: translateY(-400px);
}

.header__nav.active {
    margin-bottom: 0;
    opacity: 1;
    transform: translateY(0px);
    position: static;
    margin-top: 30px;
    display: flex;
    top: 0;
    justify-content: space-between;
    flex-direction: column;
    transition: all ease 0.5s;
}

.header__button__container.active{
    margin-bottom: 0;
    opacity: 1;
    top: 0;
    transform: translateY(0px);
    position: static;
    transition: ease-in-out 0.5s;
}

.color__switch.active {
    margin-bottom: 0;
    opacity: 1;
    top: 0;
    transform: translateY(0px);
    position: static;
    transition: ease-in-out 0.5s;
}

.header__menu {
    width: max-content;
}

.header__menu li:nth-child(odd) {
    width: 65px;
}

.header__menu li {
    color:#ffff;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    transition: ease-in-out 0.6s;
    cursor: pointer;
}

.menu__link {
    transition: color ease-in-out 0.3s;
}

.menu__link:hover {
    transition: color ease-in-out 0.5s linear;
    color:aquamarine;
}

.header__button__container {
    display: flex;
    width: max-content;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
    transition: ease-in-out 0.5s;
}

.square__button {
    width: 65px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: solid 1px #ffff;
    background-color: #1F2E35;
    color: #ffff;
    cursor: pointer;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.square__button:hover {
    border-color: #02897A;
    background-color: #02897A;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

 .buttonMenu {
    cursor: pointer;
    width: 21px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 20px;
}  

 .buttonMenu span {
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 9px;
    transition: ease-in-out 0.4s;
}

.buttonMenu::before {
    content: '';
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    top: 1px;
    transition: ease-in-out 0.4s;
}

.buttonMenu::after {
    content: '';
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    bottom: 0px;
    transition: ease-in-out 0.4s;
}

.buttonMenu.active::before {
    top: 9px;
    transform: rotate(45deg);
}

.buttonMenu.active::after {
    top: 9px;
    transform: rotate(-45deg);
} 

.buttonMenu.active span {
    display: none;
}

.color__switch {
    cursor: pointer;
    width: 35px;
    margin-top: 15px;
}

.banner__container {
    margin-top: 60px;
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    flex-direction: column;
}   

.banner__text__container {
    text-align: center;
}

.banner__heading, .banner__paragraph, .userStatisticText__container {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.banner__heading {
    font-size: 36px;
    line-height: 50px;
}

.banner__paragraph {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.banner__form {
    margin-top: 30px;
    border-radius: 50px;
    border: solid 2px #EAEAEA;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 7px;
}

.banner__form.invalid {
    border-color: red;
    animation: invalid 500ms;
}

.banner__form.valid {
    border-color: green;
}

@keyframes invalid {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}

.banner__button {
    background-color: #02897A;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: solid #02897A 2px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.banner__emailField {
    outline: 0;
    border: none;
    background-color: #1F2E35;
    color: #ffffff;
    font-size: 13px;
}

::placeholder {
    color: #ffffff;
}

.banner__userStatistic__container {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.userAvatarRight, .userAvatarMiddle, .userAvatarLeft {
    position: relative;
    border: solid 5px #ffffff;
    border-radius: 50px;
}

.userAvatarRight {
    left: -48px;
}

.userAvatarMiddle {
    left: -28px;
}

.userStatisticText__container {
    font-size: 14px;
    position: relative;
    left: -42px;
}

.userStatisticNumber {
    color: #02897A;
    font-weight: 500;
}

.banner__logo {
    margin-top: 84px;
    width: 100%;
}

.story__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 50px
}

.story__text__container {
    text-align: center;
}

.story__heading {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}

.story__paragraph {
    margin-top: 19px;
    line-height: 26px;
    color: #ffffff;
}

.story__report {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}

.story__report:hover {
    transform: scale(1.05);
}

.report__text__container {
    margin-top: 23px;
    padding-left: 23px;
    padding-bottom: 30px;
    padding-right: 40px;
}

 .report__heading {
    color: #22343D;
    line-height: 40px;
    margin-top: 16px;
}

.report__img {
    width: 100%;
    border-radius: 8px;
}

.author__name, .info__author, .info__data {
    color:#22343D;
}

.story__switch__button {
    margin-top: 30px;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}

.button__text {
    margin-right: 10px;
}

.story__switch__button:hover .button__text {
    margin-right: 25px;
}

.button__arrow__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.arrow__base {
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.arrow__base::before {
    content: "";
    transform: rotate(43deg) translate(-1px, 1.5px);
    width: 6px;
    height: 1.4px;
    background: #ffffff;
    display: block;
}

.contact__container {
    margin-top:  120px;
    display: flex;
    padding-left: 26px;
    padding-right: 26px;
    flex-direction: column;
    align-items: center;
}

.contact__text__container {
    text-align: center;
}

.contact__heading {
    color: #ffffff;
    font-size: 34px;
}

.contact__paragraph {
    margin-top: 36px;
    line-height: 28px;
    color: #ffffff;
    font-size: 18px;
}


.contact__links__container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 150px;
}

.links__container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 150px;
}

.instagram__link__container, .facebook__link__container, .twitter__link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
}

 .instagram__link__container, .facebook__link__container, .twitter__link__container {
    text-decoration: none;
    font-size: 22px;
    color:#02897A;
}

.instagram__link__container:hover {
    background-color: #e1306c;
    transition: all ease-in-out 0.5s;
    transform: scale(1.2);
}

.instagram__link__container:hover i {
    color: #ffffff;
}

.facebook__link__container:hover {
    background-color: #3B5999;
    transition: all ease-in-out 0.5s;
    transform: scale(1.2);
}

.facebook__link__container:hover i {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
}

.twitter__link__container:hover {
    background-color: rgb(8, 136, 247);
    transition: all ease-in-out 0.5s;
    transform: scale(1.2);
}

.twitter__link__container:hover i {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
}

.contact__map {
    margin-top: 42px;
    width: 100%;
    border-radius: 20px;
}

.contact__form {
    text-align: center;
    margin-top: 60px;
}

.contact__form__heading {
    color: #ffffff;
}

.contact__nameField, .contact__emailField {
    width: 100%;
    height: 50px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    color: #22343D;
    outline: 0;
    padding-left: 20px;
}

.contact__textArea {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    height: 193px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    outline: 0;
}

.contact__nameField::placeholder, .contact__emailField::placeholder, .contact__textArea::placeholder {
    color: #22343D;
}

.contact__textArea, .contact__nameField, .contact__emailField, .contact__button {
    margin-top: 32px;
}

.contact__button {
    width: 145px;
    background-color: #02897A;
    height: 52px;
    color: #ffffff;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    float: left;
}

.footer__container {
    margin-top: 140px;
    text-align: center;
    padding-bottom: 35px;
}

.footer__content-container {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.footer__info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

.footer__logo__container {
    display: flex;
    align-items: center;
    width: 169px;
    justify-content: space-between;
}

.footer__logo__text {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.footer__links__container {
    margin-top: 0;
}

.footer__nav__container { 
    margin-top: 36px;
}

.footer__nav__heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.footer__nav__info__container, .footer__nav__service__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav__service__container {
    margin-top: 42px;
}

.footer__menu {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.footer__menu a {
    padding: 3px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.footer__menu li {
    list-style-type: none;
}

.footer__form {
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer__form__heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
}

.footer__input {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 100%;
    height: 51px;
    outline: 0;
}

.footer__button {
    width: 130px;
    height: 40px;
    background-color: #02897A;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.footer__copyright {
    color: #ffffff;
}

/*alternative styles */

body.colored {   
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.colored.header__menu li, .header__logo__text.colored {
    color: #1F2E35;
}

.header__button.colored {
    background-color: #ffffff;
    color: #173A56;
    border: solid 1px #BCD0E5;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.header__button.colored:hover {
    border-color: #02897A;
    background-color: #02897A;
    color: #ffffff;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.banner__heading.colored, .banner__paragraph.colored, .userStatisticText__container.colored, .colored::placeholder {
    color: #1F2E35;
}

.colored.buttonMenu span, .colored.buttonMenu::after, .colored.buttonMenu::before{
    background-color: #1F2E35;
}

.banner__emailField.colored {
    background-color: #ffffff;
    color: #22343D;
}

.story__heading.colored, .story__paragraph.colored {
    color: #1F2E35;
}

.button__text.colored {
    color: #1F2E35;
}

.button__arrow__container.colored {
    border-color: #1F2E35;
}

.arrow__base.colored {
    border-color: #1F2E35;
}

.colored.arrow__base::before {
    background: #1F2E35;
}

.contact__heading.colored, .contact__form__heading.colored {
    color: #252B42;
}

.contact__paragraph.colored {
    color:  #374754;
}

.contact__form.colored {
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 20px;
}

.contact__nameField, .contact__emailField, .contact__textArea {
    background-color: #F5F5F5;
    border-color: #E8E8E8;
}

.instagram__link__container.colored, .facebook__link__container.colored, .twitter__link__container.colored {
    background-color: #EDFFFC;
}

.instagram__link__container.colored:hover {
    background-color: #e1306c;
}

.facebook__link__container.colored:hover {
    background-color: #3B5999;
}

.twitter__link__container.colored:hover {
    background-color: rgb(8, 136, 247);
}

.footer__logo__text.colored, .menu__link.colored, .footer__form__heading.colored, .footer__nav__heading.colored {
    color: #1F2E35;
}

.menu__link.colored:hover {
    color: #02897A;
}

.footer__copyright.colored {
    color: #22343D;
}