* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    transition: 0.7s;
}

body {
    background-color: #1F2E35;   
    font-family: 'Poppins', sans-serif;
}


body.active {   
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.header__container {
    padding: 17px 0 12px 32px;
    width: 100%;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}   

.header__logo {
    width: 177px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

.header__logo__text {
    font-weight: 700;
    color: white;
    font-size: 30px;
}

.header__logo__text.active {
    color: #1F2E35;
}

.header__nav, .header__button__container, .color__switch {
    position: absolute; 
    top: -400px;
    transition: all ease-in-out 1s;
    transform: translateY(-400px);
}

.header__nav.active {
    transform: translateY(0px);
    position: static;
    margin-top: 30px;
    display: flex;
    top: 0;
    justify-content: space-between;
    flex-direction: column;
    transition: all ease 0.5s;
}

.header__button__container.active{
    top: 0;
    transform: translateY(0px);
    position: static;
    transition: ease-in-out 0.5s;
}

.color__switch.active {
    top: 0;
    transform: translateY(0px);
    position: static;
    transition: ease-in-out 0.5s;
}

.header__menu {
    width: 88px;
}

.header__menu li:nth-child(odd) {
    width: 65px;
}

.header__menu li {
    color:#ffff;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    transition: ease-in-out 0.6s;
    cursor: pointer;
}

.menu__link {
    transition: color ease-in-out 0.3s;
}

.menu__link:hover {
    transition: color ease-in-out 0.5s linear;
    color:aquamarine;
}

.header__button__container {
    display: flex;
    width: 65px;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
    transition: ease-in-out 0.5s;
}

.square__button {
    width: 65px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: solid 1px #ffff;
    background-color: #1F2E35;
    color: #ffff;
    cursor: pointer;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.square__button:hover {
    border-color: #02897A;
    background-color: #02897A;
    transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

 .buttonMenu {
    cursor: pointer;
    width: 21px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 20px;
}  

 .buttonMenu span {
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 9px;
    transition: ease-in-out 0.4s;
}

.buttonMenu::before {
    content: '';
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    top: 1px;
    transition: ease-in-out 0.4s;
}

.buttonMenu::after {
    content: '';
    background-color: #ffff;
    border-radius: 10px;
    width: 23px;
    height: 3px;
    position: absolute;
    bottom: 0px;
    transition: ease-in-out 0.4s;
}

.buttonMenu.active::before {
    top: 9px;
    transform: rotate(45deg);
}

.buttonMenu.active::after {
    top: 9px;
    transform: rotate(-45deg);
} 

.buttonMenu.active span {
    display: none;
}

.color__switch {
    cursor: pointer;
    width: 35px;
    margin-top: 15px;
}

.banner__container {
    margin-top: 60px;
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    flex-direction: column;
}   

.banner__text__container {
    text-align: center;
}

.banner__heading, .banner__paragraph, .userStatisticText__container {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.banner__heading {
    font-size: 36px;
    line-height: 50px;
}

.banner__paragraph {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.banner__form {
    margin-top: 30px;
    border-radius: 50px;
    border: solid 2px #EAEAEA;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 7px;
}

.form__button {
    background-color: #02897A;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: solid #02897A 2px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.form__emailField {
    outline: 0;
    border: none;
    background-color: #1F2E35;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

.banner__userStatistic__container {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.userAvatarRight, .userAvatarMiddle, .userAvatarLeft {
    position: relative;
    border: solid 5px #ffffff;
    border-radius: 50px;
}

.userAvatarRight {
    left: -48px;
}

.userAvatarMiddle {
    left: -28px;
}

.userStatisticText__container {
    font-size: 14px;
    position: relative;
    left: -42px;
}

.userStatisticNumber {
    color: #02897A;
    font-weight: 500;
}

.banner__logo {
    margin-top: 84px;
    width: 100%;
}